{% extends 'base_nofooter.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <section id="landing" class="auth">
        <div class="fade-bg"></div>
        <div class="container login">
            <div class="row">
                <div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6">
                    <div class="form">
                        <form id="login-form" action="{% url 'login' %}" method="post" role="form"
                              parsley-use-html5-constraints="false" novalidate="" >
                            {% csrf_token %}
                            <h1>{% trans "Signin" %}</h1>
                            <div class="msg"></div>
                            <input type="email" id="login" name="email" class="form-control" placeholder="{% trans "Email" %}" required="" autocomplete="off"
                                   parsley-maxlength="50" parsley-required="true" parsley-type="email"/>
                            <input type="password" id="password" name="password" minlength="8" class="form-control" placeholder="{% trans "Password" %}" required="" autocomplete="off"
                                   parsley-required="true">
                            <button type="submit" id="login-submit" class="btn">{% trans "SIGNIN" %}</button>
                            <div class="text-center">
                                <p>{% trans "Don’t have an account?" %} <a href="{% url 'signup' %}">{% trans "Signup" %}</a><p>
                                <p><a href="#reset-popup" class="open_popup">{% trans "Forgot Password?" %}</a><p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </section>
{% endblock content %}
